@using WebUI.Models.HR.Banks;
@model List<Bank>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
    //page title
    ViewData["Title"] = "البنوك";
}


<!-- Datatable single column searching -->
<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-6">
        <div>
            <div class="float-left">
                <h4 class="table-header my-3">
                    البنوك
                </h4>
            </div>

            <div class="float-right">
                <a class="btn btn-primary my-3" @*asp-controller="bank" asp-action="create"*@ data-toggle="modal" data-target="#AddJobGroup" id="add-new">
                    <i class="far fa-plus-square"></i>
                    اضافة بنك
                </a>
            </div>
        </div>
        

        <div class="table-responsive mb-4">
            <table id="single-column-search" class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>الاسم العربي</th>
                        <th>الاسم الانكليزي</th>
                        <th>الكود</th>
                        <th>العمليات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        <tr href="#">
                            <td>@item.ArabicName</td>
                            <td>@item.EnglishName</td>
                            <td>@item.Code</td>
                            <td>
                                <a @*asp-controller="bank" asp-action="edit" asp-route-id="@item.Id"*@ data-toggle="modal" data-target="#AddJobGroup"
                               data-id="@item.Id" data-arname="@item.ArabicName" data-code="@item.Code" data-enname="@item.EnglishName"
                               class="open-Dialog btn btn-outline-primary">تعديل</a>

                                @*<a class="btn btn-outline-danger delete"
                                    id="@item.Id" name="delete">حذف</a>*@
                            </td>
                        </tr>

                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>الاسم العربي</th>
                        <th>الاسم الانكليزي</th>
                        <th>الكود</th>
                        <th>العمليات</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="AddJobGroup" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-s" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">إضافة  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="las la-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 layout-spacing">
                    <div class="widget-content widget-content-area">
                        <div class="w-100">
                            <input id="id" hidden />
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>كود  :</label>
                                    <input type="text" id="code" class="form-control" placeholder="Code  ">
                                    @*<span class="form-text text-muted">Please enter your email</span>*@
                                </div>
                                <div class="col-lg-12">
                                    <label>اسم  :</label>
                                    <input type="text" id="arName" class="form-control" placeholder="اسم  ">
                                    @*<span class="form-text text-muted">Please enter your email</span>*@
                                </div>
                                <div class="col-lg-12">
                                    <label>Name:</label>
                                    <input type="text" id="enName" class="form-control" placeholder="Name">
                                    @*<span class="form-text text-muted">Please enter your email</span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> إلغاء</button>
                    <button type="button" class="btn btn-primary" href="#" onclick="save()" id="btnSave">حفظ</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>

        @functions {
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
        }

        // testing add
        $(document).on("click", ".open-Dialog", function () {
            var Id = $(this).data('id');
            var Code = $(this).data('code');
            var ArName = $(this).data('arname');
            var EnName = $(this).data('enname');
            //console.log(Id);
            //console.log(Code);
            //console.log(ArName);
            //console.log(EnName);
            $(".modal-body #id").val(Id);
            $(".modal-body #code").val(Code);
            $(".modal-body #arName").val(ArName);
            $(".modal-body #enName").val(ArName);
        });

    // add new button
    $('#add-new').click(function () {
        $(".modal-body #id").val('');
        $(".modal-body #code").val('');
        $(".modal-body #arName").val('');
        $(".modal-body #enName").val('');
    });

    // add new
    function save() {
        var id = $('#id').val();
        var arabicName = $("#arName").val();
        var englishName = $("#enName").val();
        var code = $("#code").val();
        //var apiUrl = "@ViewBag.api.ToString()";
        //console.log('@ViewBag.api.ToString()');
        //console.log(apiUrl);

        var SendInfo = {
            "id": id,
            "arabicName": arabicName,
            "englishName": englishName,
            "code": code
        }

        if (id == "") {
            $.ajax({
                type: 'POST',
                async: false,
                contentType: "application/json",

                data: JSON.stringify(SendInfo),
                url: '@ViewBag.api.ToString()' + 'API/Bank',
                success: function (msg) {
                    Swal.fire(
                        'تم الحفظ!',
                        '',
                        'success',
                    ).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        window.location.reload();
                    })
                },
                error: function (data) {
                    Swal.fire(
                        'لم يتم الحفظ!',
                        data.responseText,
                        'error'
                    )
                }
            });
        }
        else {
            $.ajax({
                type: 'PUT',
                async: false,
                contentType: "application/json",

                data: JSON.stringify(SendInfo),
                url: '@ViewBag.api.ToString()' + 'API/Bank/' + id,
                success: function (msg) {
                    Swal.fire({
                        title: 'تم التعديل?',
                        icon: 'info',

                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        window.location.reload();
                    })
                },
                error: function (data) {
                    Swal.fire(
                        'لم يتم التعديل!',
                        data.responseText,
                        'error'
                    )
                }
            });
        }


    }

        $(document).ready(function () {
            $('#min, #max').keyup(function () { table.draw(); });

            // Add text input to the footer
            $('#single-column-search tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control" placeholder="بحث ' + title + '" />');
            });
            // Generate Datatable
            var table = $('#single-column-search').DataTable({
                dom: '<"row"<"col-md-6"B><"col-md-6"f> ><""rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>>',
                buttons: {
                    buttons: [
                        { extend: 'copy', className: 'btn btn-primary' },
                        { extend: 'csv', className: 'btn btn-primary' },
                        { extend: 'excel', className: 'btn btn-primary' },
                        { extend: 'pdf', className: 'btn btn-primary' },
                        { extend: 'print', className: 'btn btn-primary' }
                    ]
                },
                "language": {
                    "paginate": {
                        "previous": "<i class='las la-angle-left'></i>",
                        "next": "<i class='las la-angle-right'></i>"
                    }
                },
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 5
            });
            // Search
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            

            //// update
            //function UpdateByID() {
            //    var arabicName = $("#EarabicName").val();
            //    var englishName = $("#EenglishName").val();
            //    var code = $("#code").val();
            //    var ID = $("#ID").val();
            //    console.log("ID=" + ID);
            //    var SendInfo = {
            //        "arabicName": arabicName,
            //        "englishName": englishName,
            //        "code": code
            //    }
            //    console.log("ID=" + ID);
            //    console.log("SendInfo=" + SendInfo);
            //    Swal.fire({
            //        title: 'هل انت متاكد من تعديل?',
            //        icon: 'info',
            //        showCancelButton: true,
            //        confirmButtonText: 'Yes',
            //    }).then((result) => {
            //        /* Read more about isConfirmed, isDenied below */
            //        if (result.isConfirmed) {
            //            $.ajax({
            //                type: 'PUT',
            //                async: false,
            //                contentType: "application/json",

            //                data: JSON.stringify(SendInfo),
            //                url: 'http://192.168.100.154:8080/API/Bank/' + ID,
            //                success: function (msg) {
            //                    Swal.fire({
            //                        title: 'تم التعديل?',
            //                        icon: 'info',

            //                    }).then((result) => {
            //                        /* Read more about isConfirmed, isDenied below */
            //                        window.location.reload();
            //                    })
            //                },
            //                error: function (data) {
            //                    Swal.fire(
            //                        'لم يتم التعديل!',
            //                        data.statusText,
            //                        'error'
            //                    )
            //                }
            //            });
            //        } else if (result.isDenied) {

            //        }
            //    });


            //delete button
            $('#single-column-search tbody').on("click", ".delete", function () {
                console.log("test");
                var id = this.id;

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/bank/delete/" + id,
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            }
                        }).fail(function () {
                            Swal.fire(
                                'Error!',
                                'someting went wrong please try again later.',
                                'error'
                            )
                        }).done(function () {
                            Swal.fire(
                                'done',
                                'the item has been deleted',
                                'success'
                            )
                        }).done(function () {
                            window.location.href = '/bank';
                        })
                    }
                })
            });

        });
    </script>
} 