@using WebUI.Models.HR.AllowanceTypes;
@model List<AllowanceType>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
    //page title
    ViewData["Title"] = "البدلات";
}


<!-- Datatable single column searching -->
<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-6">
        <div>
            <div class="float-left">
                <h4 class="table-header my-3">
                    البدلات
                </h4>
            </div>

            <div class="float-right">
                <a class="btn btn-primary my-3" @*asp-controller="allowancetype" asp-action="create"*@ data-toggle="modal" data-target="#AddModal" id="add-new">
                    <i class="far fa-plus-square"></i>
                    اضافة بدل
                </a>
            </div>
        </div>
        

        <div class="table-responsive mb-4">
            <table id="single-column-search" class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>الاسم</th>
                        <th>العمليات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        <tr href="#">
                            <td>@item.ArabicName</td>
                            <td>
                                <a @*asp-controller="allowancetype" asp-action="edit" asp-route-id="@item.Id"*@ data-toggle="modal" data-target="#AddModal"
                               data-id="@item.Id" data-arname="@item.ArabicName"
                               class="open-Dialog btn btn-outline-primary">@*<i class="fas fa-edit fa-sm"></i>*@تعديل</a>

                                @*<a class="btn btn-outline-danger delete"
                                    id="@item.Id" name="delete">حذف</a>*@
                            </td>
                        </tr>

                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>الاسم</th>
                        <th>العمليات</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<div id="AddModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-s" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">إضافة  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="las la-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 layout-spacing">
                    <div class="widget-content widget-content-area">
                        <div class="w-100">
                            <input id="id" hidden />
                            <div class="form-group row">
                                
                                <label for="" class="col-sm-2 col-form-label">الاسم</label>
                                <div class="col-sm-10">
                                    <input type="text" id="arName" class="form-control" placeholder="" />
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> إلغاء</button>
                    <button type="button" class="btn btn-primary" href="#" onclick="save()" id="btnSave">حفظ</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>

        @functions {
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
        }

        // add
        $(document).on("click", ".open-Dialog", function () {
            var Id = $(this).data('id');
            var ArName = $(this).data('arname');

            $(".modal-body #id").val(Id);
            $(".modal-body #arName").val(ArName);
        });

        // add new button
        $('#add-new').click(function () {
            $(".modal-body #id").val('');
            $(".modal-body #arName").val('');
        });

        // add new
        function save() {
            var id = $('#id').val();
            var arabicName = $("#arName").val();

            var SendInfo = {
                "id": id,
                "arabicName": arabicName,
            }

            if (id == "") {
                $.ajax({
                    type: 'POST',
                    async: false,
                    contentType: "application/json",

                    data: JSON.stringify(SendInfo),
                    url: '@ViewBag.api.ToString()' + 'API/allowancetype',
                    success: function (msg) {
                        Swal.fire(
                            'تم الحفظ!',
                            '',
                            'success',
                        ).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            window.location.reload();
                        })
                    },
                    error: function (data) {
                        Swal.fire(
                            'لم يتم الحفظ!',
                            data.responseText,
                            'error'
                        )
                    }
                });
            }
            else {
                $.ajax({
                    type: 'PUT',
                    async: false,
                    contentType: "application/json",

                    data: JSON.stringify(SendInfo),
                    url: '@ViewBag.api.ToString()' + 'API/allowancetype/' + id,
                    success: function (msg) {
                        Swal.fire({
                            title: 'تم التعديل?',
                            icon: 'info',

                        }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            window.location.reload();
                        })
                    },
                    error: function (data) {
                        Swal.fire(
                            'لم يتم التعديل!',
                            data.responseText,
                            'error'
                        )
                    }
                });
            }


        }

        $(document).ready(function () {
            $('#min, #max').keyup(function () { table.draw(); });

            // Add text input to the footer
            $('#single-column-search tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control" placeholder="بحث ' + title + '" />');
            });
            // Generate Datatable
            var table = $('#single-column-search').DataTable({
                dom: '<"row"<"col-md-6"B><"col-md-6"f> ><""rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>>',
                buttons: {
                    buttons: [
                        { extend: 'copy', className: 'btn btn-primary' },
                        { extend: 'csv', className: 'btn btn-primary' },
                        { extend: 'excel', className: 'btn btn-primary' },
                        { extend: 'pdf', className: 'btn btn-primary' },
                        { extend: 'print', className: 'btn btn-primary' }
                    ]
                },
                "language": {
                    "paginate": {
                        "previous": "<i class='las la-angle-left'></i>",
                        "next": "<i class='las la-angle-right'></i>"
                    }
                },
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 5
            });
            // Search
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });


            


            //delete button
            $('#single-column-search tbody').on("click", ".delete", function () {
                console.log("test");
                var id = this.id;

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/allowancetype/delete/" + id,
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": "@GetAntiXsrfRequestToken()"
                            }
                        }).fail(function () {
                            Swal.fire(
                                'Error!',
                                'someting went wrong please try again later.',
                                'error'
                            )
                        }).done(function () {
                            Swal.fire(
                                'done',
                                'the item has been deleted',
                                'success'
                            )
                        }).done(function () {
                            window.location.href = '/allowancetype';
                        })
                    }
                })
            });

        });
    </script>
} 